<h2>About Me</h2>

<p>
  I am a passionate Full Stack Developer with experience in Angular, .NET Core,
  and Microsoft Azure.
</p>

<div class="row mt-4">
  <div class="col-md-6">
    <h4>Technical Skills</h4>
    <ul>
      <li>.NET Core Web API</li>
      <li>C#</li>
      <li>Angular</li>
      <li>Azure App Service</li>
      <li>Azure Static Web Apps</li>
      <li>Azure TFS DevOps</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Cloud Experience</h4>
    <ul>
      <li>Deploying Angular to Azure</li>
      <li>CI/CD using GitHub Actions</li>
      <li>Storage Account configuration</li>
      <li>Monitoring using App Insights</li>
    </ul>
  </div>
</div>
